    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#header {
    width: 80%;
    height: auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.49);
    filter: blur(0%);
    margin-left: 10%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
}

.logo  {
    border: 3px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    width: 9%;
    margin:auto;
    height: fit-content;
}

.logo span {
    width: 100%;
}

.header-menu {
    width: 90%;
    margin: auto;
    padding: 0%;
}



.header-menu ul li {
    display: inline;
    list-style: none;
    padding: 0% 20px;
    font-size: 16px; 
    width: 70%;
}

.header-menu a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.header-menu a:hover {
    color: crimson;
    font-weight: 700;
    border-bottom: 2px solid;
    padding: 5px;
}

.header-menu ul li .home {
    margin-left: 20%;
    font-weight: bold;
    font-size: 18px;
    color: crimson;
    padding: 5px;
    border-bottom: 2px solid;
}


/* header end */


/* hero section start */



#image {
    width: 100%;
    height: 100vh;
    background: url(../image/16.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -20;
}   

section .content {
    text-align: center;
    color: white;
    position: absolute;
}

.content h1 {
    font-size: 34px;
    letter-spacing: 2px;
}

.content p {
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.btn1{
    margin-top: 5%;
    padding: 10px 30px;
    background-color: crimson;
    color: white;
    font-size: 14px;
    border: solid 1px white;
    border-radius: 2px;
    font-weight: 700;
}

.btn1:hover{
    background-color: white;
    color: crimson;
    cursor: pointer;
}

.btn2 {
    margin-left: 2%;
    margin-top: 5%;
    padding: 10px 50px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    border: solid 1px white;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
}



/* hero section start end */

/* barberlogo */

.barberlogo {
    width: 5%;
    margin-left: 47.5%;
    margin-top: -2.5%;
    padding: 2px;
    background-color: rgb(246, 233, 233);
    border-top: 5px solid gray;
    clip-path: circle(40%);
}


/* barberlogo end */

.fourdetail {
    /* background-color: aqua; */
    width: 100%;
    height: 300px;
    
}

.detail1 {
    width: 15%;
    height: auto;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin-top: 3%;
    margin-left: 17%;
}

.detail {
    width: 15%;
    height: auto;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin-top: 3%;
    margin-left: 2%;
}



.detail1 img {
    width: 12%;
    padding: 10px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    border: 3px solid crimson;  
}

.detail1 h1, .detail h1 {
    font-size: 16px;
    letter-spacing: 1px;
}

.detail1 p, .detail p {
    font-size: 10px;
    color: gray;
}

.detail img {
    width: 8%;
    padding: 10px;
    border: lightgray 2px solid;
}



/* History */

#history {
    width: 100%;
    height: auto;
    padding: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#history .screen {
    width: 50%;
    margin-left: 0%;
}

.screen img {
    width: 70%;
    margin-left: 30%;
}
#history .our-history {
    width: 50%;
    padding: 5%;
}

.our-history h1 {
    letter-spacing: 1.5px;
    margin-top: -8%;
    color: rgb(50, 48, 48);
    font-size: 26px;
}

.our-history p {
    margin-top: 5%;
    color: gray;
    text-align: justify;
    width: 80%;
    font-size: 14px;
}

.our-history input {
    margin-top: 5%;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 34px;
    border-radius: 5px;
    border: 0px white;
    color: white;
    background-color: crimson;
    cursor: pointer;
}


/* History End */


/* service start */

#service {
    width: 100%;
    height: 465px;
    padding: 0%; 
    background-color: rgb(25, 41, 41);
    margin-top: 5%;
}

.service-info {
    width: 50%;
    height: auto;
    text-align: right;
    margin-left: -3%;
}

.service-info h1 {
    color: white;
    margin-top: 5%;
    font-size: 26px;
    letter-spacing: 1.5px;
    padding-top: 10%;
}

.service-info h4 {
    color: crimson;
    margin-top: 5%;
    letter-spacing: 1px;
}

.service-info p{
    font-size: 14px;
    width: 80%;
    margin-left: 20%;
    color: gray;
}

.service-img img{
    width: 50%;
    padding: 0%;
    height: 465px;
    margin-top: -100%;
    margin-left: 50%;
}

.icon {
    clip-path: circle(100%);
    display: flex;
    flex-direction: column;
    width: 3%;
    margin: auto;
    margin-top: -22%;
    line-height: 60px;
}

/* service start End */


/* recent work */

#recent-work {
    width: 100%;
    height: auto;
    margin-top: 7%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
 
#recent-work h1 {
    color: rgb(50, 48, 48);
    letter-spacing: 2px;
}

#recent-work p {
    color: gray;
    font-size: 14px;
}

#recent-work .work-img {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid crimson;
    border-radius: 3px;
}

.work-img img {
    width: 100%;
    height: 300px;
    padding: 0%;
    border-radius: 2px;
    transition: ease all  0.9s;
}

.work-img img:hover {
    transform: scale(1.1);
    border: 1px solid crimson;
}


/* recent work end */



/* Aboout me */

#aboutme {
    margin-top: 5%;
    width: 100%;
    height: auto;
    float: left;
    background-color: lightgrey;
    border: 2px solid gray;
}

#aboutme h1 {
    display: block;
    color:  rgb(50, 48, 48);
    margin-top: 3%;
    text-align: center;
}


.about-pic {
    width: 30%;
    height: 300px;
    margin-top: 0%;
    float: left;
    /* background-color: blueviolet; */
}

.about-pic img {
    width: 300px;
    height: 310px;
    border-radius: 50%; 
    margin-left: 30%;
    border: 1px solid white;
    box-shadow: 5px 10px 10px;
    transition: ease all 0.8s;
}

.about-pic img:hover{
    transform: scale(1.1);
} 

.about-info {
    width: 70%;
    height: 300px;
    margin-top: 3%;
    /* background-color: red; */
    float: left;
}

.about-info h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    margin-left: 5%;
}

.about-info p{
    text-align: justify;
    margin-left: 5%;
    margin-right: 15%;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}


/* Aboout me ENd */


/* Pricing */

#pricing {
    width: 70%;
    height: auto;
    margin-left: 15%;
    float: left;
    margin-top: 2%;
    align-items: center;
    text-align: center;
}

#pricing h1 {
    text-align: center;
    color:  rgb(50, 48, 48);
    margin-top: 3%;
}

.p-box1 {
    width: 25%;
    height: 400px;
    margin-left: 7%;
    margin-top: 5%;
    float: left;
    background-color: lightgray;
}

.p-box1 .start {
    background-color: gray;
    color: white;
    width: 100%;
    height: 100px;
    padding: 0%;
}

#pricing h3 {
    letter-spacing: 1px;
    margin-top: 0%;
    padding: 25px;
}

.price {
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 30px;
    clip-path: circle(40%);
    margin-top: -20%;
}
.price h2 {
    color: gray;
    line-height: 5px;
}
.price p {
    color: gray;
    line-height: 5px;
}

.price-text p {
    line-height: 30px;
    font-size: 14px;
    padding: 5px;
    color: rgb(76, 70, 70);
}



.p-box2 {
    width: 25%;
    height: 400px;
    margin-left: 7%;
    margin-top: 5%;
    float: left;
    background-color: lightgray;
}

.p-box2 .start {
    background-color: rgb(211, 57, 57);
    color: white;
    width: 100%;
    height: 100px;
    padding: 0%;
}


#pricing h3 {
    letter-spacing: 1px;
    margin-top: 0%;
    padding: 25px;
}

.price {
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 30px;
    clip-path: circle(40%);
    margin-top: -20%;
}
.p-box2 h2 {
    color: rgb(211, 57, 57);
    line-height: 5px;
}
.price p {
    color: gray;
    line-height: 5px;
}

.price-text p {
    line-height: 30px;
    font-size: 14px;
    padding: 5px;
    color: rgb(76, 70, 70);
}




.p-box3 {
    width: 25%;
    height: 400px;
    margin-left: 7%;
    margin-top: 5%;
    float: left;
    background-color: lightgray;
}

.p-box3 .start {
    background-color: gray;
    color: white;
    width: 100%;
    height: 100px;
    padding: 0%;
}

/* Pricing End */



/* our team */

#our-team {
    width: 100%;
    height: 600px;
    background: url('../image/cover2.jpg') no-repeat;
    background-size: cover;
    float: left;
    margin-top: 5%;
    position: relative;
}

#our-team h1 {
    text-align: center;
    color:  white;
    margin-top: 5%;
}

#our-team p {
    text-align: center;
    color:  white;
    font-size: 12px;
    letter-spacing: 1px;
}

#our-team svg {
    margin-top: 0%;
}

#our-team img {
    width: 5%;
    clip-path: circle(40%);    
}

#our-team .vicky {
    margin-top: -250px;
    position: absolute;
    margin-left: 15%;
}


#our-team .jay {
    margin-top: -240px;
    position: absolute;
    margin-left: 45%;
}

#our-team .th {
    margin-left: 75%;
    margin-top: -500px;
    width: 6%;
    margin-bottom: 14%;
    /* position: absolute; */
}



/* our team End */
