*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background-color: slategrey;
}
.wrapper {
    max-width: 1200px;
    text-align: center;
}

.wrapper i{
    text-align: center;
    background-color: aliceblue;
    font-size: 30px;
    height: 46px;
    width: 46px;
    line-height: 46px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2%;
}

.wrapper .carousel{
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel .dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel .dragging img{
    pointer-events: none;
}
.carousel img{
    height: 340px;
    width: calc(100% / 3);     /* this is for inline image make */ 
    object-fit: cover;
    margin-left: 14px;
}

.carousel img:first-child{
    margin-left: 0px; 
}


@media screen and (max-width:900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width:550px) {
    .carousel img{
        width: 100%;
    }
}